<div class="admin-home-container">
  <div class="left-section">
    <div class="admin-button-container">
      <button class="admin-nav-button" (click)="goToCadastros()">Cadastros</button>
      <button class="admin-nav-button" (click)="goToAdminEventos()">Lançar Eventos</button>
      <!-- Outros botões de navegação para o administrador, se necessário -->
    </div>
  </div>
  <div class="right-section">
    <div class="admin-welcome-box">
      <h2>Bem-Vindo, Coordenador!</h2>
    </div>
    <div class="admin-logo">
      <img src="assets/logotcc.png" alt="Logo Paróquia Net">
    </div>
    <h1>ADMINISTRADOR<br></h1>
  </div>
</div>
